.search {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($mainDark, 0.95);
  color: $mainWhite;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
  transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s,
    -webkit-transform 0.3s;
  box-sizing: border-box;
  &--active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  &__results {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @mixin atLarge {
      flex-direction: row;
    }
  }
  &__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: rgba($mainWhite, 0.8);
    border-radius: 10px;
    padding: 0 20px;
    @mixin atLarge {
    border-radius: 20px;  
    }
  }
  &-term {
    flex-grow: 1;
    width: 80%;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    margin: 7px;
    padding-left: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    color: $mainOrange;
    @mixin atMedium {
      margin: 15px;
      padding-left: 10px;
      font-size: 2rem;
    }
  }
  &__icon {
    font-size: 1rem;
    color: $mainOrange;
    @mixin atMedium {
      font-size: 2rem;
    }
  }
  &__top {
    background-color: rgba($mainDark, 0.8);
    padding: 10px;
  }
  p {
    padding-top: 40px;
  }

  &__close {
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: $mainOrange;
    color: $mainWhite;
    line-height: 0.7;
    @mixin atMedium {
      font-size: 2.1rem;
    }
  }
  &__spinner-loader {
    margin-top: 45px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0.25rem solid rgba($mainWhite, 0.2);
    border-top-color: $mainOrange;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
  }

  &__section-title {
    margin: 20px 0;
    font-weight: 400;
    color: $mainWhite;
    font-size: 2rem;
    padding: 15px 0;
    border-bottom: 1px solid rgba($mainWhite, 0.12);
  }
  ul {
    margin-top: 20px;
    li {
      margin-bottom: 10px;
    }
    a {
      color: $mainWhite;
      font-size: 1.2rem;
    }
  }
  &__fa {
    margin-left: 10px;
    background-color: $mainOrange;
    .fa-search {
      font-size: 0.5rem;
      color: $mainWhite;
      @mixin atMedium {
        margin-left: 5px;
        font-size: 1.4rem;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__one-third {
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    @mixin atLarge {
    width: 30%; 
    }
    h2 {
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 1px;
      font-size: 1.4rem;
      font-weight: 300;
      @mixin atMedium {
        font-size: 1.8rem;
      }
    }
    .title {
      border-bottom: 1px solid rgba($mainWhite, 0.8);
      margin: 0 40px;
      h3 {
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 300;
        color: rgba($mainOrange, .6);
        text-shadow: 0 0 10px rgba($mainWhite, 0.6);
        @mixin atMedium {
          font-size: 1.6rem;
        }
      }
    }
    &:nth-child(2) {
      border-top: 1px solid rgba($mainOrange, 0.4);
      border-bottom: 1px solid rgba($mainOrange, 0.4);
      padding: 10px 0;
      @mixin atLarge {
        width:40%;
        padding: 0;
        border-top: none;
        border-bottom: none;
        border-right: 1px solid rgba($mainOrange, 0.4);
        border-left: 1px solid rgba($mainOrange, 0.4);
      }
    }
  }
  &__article {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba($mainWhite, 0.1);
    border-radius: 20px;
    
    h3 {
      font-size: 1rem;
      margin-bottom: 5px;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-weight: 300;
      @mixin atMedium { 
        font-size: 1.4rem;
      }
      a {
        border-bottom: solid 1px rgba($mainWhite, 0.4);
        padding-bottom: 3px;
      }
    }
    p {
      padding: 5px 0;
      font-size: .8rem;
      font-weight: 200;
      @mixin atLarge {
        font-size: 1.2rem;
      }
    }
  }
  a {
    color: $mainWhite;
    &:hover {
      color: $mainOrange;
    }
  }

}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
