$mainBlue: #2f5572;
$mainOrange: #f75506;
$mainOrangeDark: #9e3504;
$mainDark: #1a1a1a;
$mainWhite: #f2f2f2;
$mainBrown: #6d372a;
$mainRed: #e30606;

$defaultFont: "roboto", arial, sans-serif;
$specialFont: "open sans", "roboto", arial, sans-serif;
