.btn {
  border: 2px solid $mainOrange;
  background-color: rgba($mainDark, 0.8);
  color: $mainOrange;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: 0.3s;
  &:hover {
    background-color: rgba($mainOrange, 0.8);
    color: $mainWhite;
  }
  @mixin atMedium {
    border: 3px solid $mainOrange;
    letter-spacing: 2px;
    padding: 0.4rem;
    font-size: 0.9rem;
  }
  @mixin atLarge {
    letter-spacing: 3px;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }
  &--brown {
    background-color: $mainOrange;
  }
  &--large {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    @mixin atMedium {
      padding: 1.1rem 1.2rem;
      font-size: 1rem;
    }
    @mixin atLarge {
      padding: 1.2rem 4rem;
      font-size: 1.8rem;
      letter-spacing: 5px;
    }
  }
  &--small {
    padding: 0.5rem 0.5rem;
    font-family: $specialFont;
    font-size: 1rem;
    color: $mainOrange;
    background-color: $mainDark;
    border: 1px solid $mainOrange;
    @mixin atMedium {
      border: 2px solid $mainOrange;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
    }
  }
  &--roll {
    @mixin atMedium {
      font-size: 0.7rem;
    }
  }
}
