.testimonial {
  width: 100%;
  margin: 20px;
  @mixin atMedium {
    width: 48%;
    margin: 20px 0;
  }
  @mixin atLarge {
    width: 31%;
  }
  &__photo {
    position: relative;
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 0 auto -60px auto;
    border: 4px solid rgba($mainOrange, 0.7);
    border-radius: 50%;
    overflow: hidden;
    background-color: $mainWhite;
    img {
      width: 100%;
    }
    @mixin atLarge {
      width: 160px;
      height: 160px;
      margin: 0 auto -80px auto;
    }
  }
  &__text-content {
    width: 100%;
    background-color: rgba($mainDark, 0.1);
    border: 2px solid $mainOrange;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 70px 10px 10px 10px;
    @mixin atSmall {
      padding: 80px 20px 20px 20px;
    }
    @mixin atLarge {
      width: 100%;
      min-height: 350px;
      padding: 100px 20px 20px 20px;
    }
    p {
      text-align: justify;
      margin-top: 10px;
      font-size: 0.8rem;
      line-height: 1rem;
      @mixin atSmall {
        font-size: 1rem;
        line-height: 1.3rem;
      }
      @mixin atLarge {
        font-size: 1rem;
        margin-top: 20px;
        line-height: 1.4rem;
      }
    }
  }
}
